/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* Lato */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Roboto */

/* Configurações do 'body' no modo claro */
body{
    /* Define o fundo */
    background-image: linear-gradient(to right, #D0DAE0, #CACED0);
    /* Configura as fontes do site */
    font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
}

/* Configurações específicas para dispositivos pequenos */
@media only screen and (max-width: 768px){
    body{
        /* Tamanho das fontes */
        font-size: 16px;
    }
}

/* Configurações específicas para dispositivos médios */
@media only screen and (min-width: 769px) and (max-width: 1239px){
    body{
        /* Tamanho das fontes */
        font-size: 18px;
    }

    .navbar-brand > p{
        /* Tamanho do nome 'Finanças' */
        font-size: 20px;
    }
}

/* Configurações específicas para dispositivos grandes */
@media only screen and (min-width: 1240px) and (max-width: 1400px){
    body{
        /* Tamanho das fontes */
        font-size: 20px;
    }
    
    .navbar-brand > p{
        /* Tamanho do nome 'Finanças' */
        font-size: 22px;
    }
}

/* Botão de notificações */
#botaoNotificacoes{
    /* Retira o fundo */
    background: none;
    /* Retira a borda */
    border: none;
}

/* Focus do botão de notificações */
#botaoNotificacoes:focus{
    /* Remove o estilo */
    outline-style: none;
    /* Remove a sombra */
    box-shadow: none;
}

/* Botão de alterar entre modo escuro e claro */
#botaoAlterarModo{
    /* Retira o fundo */
    background: none;
    /* Retira a borda */
    border: none;
}

/* Focus do botão de alterar modo */
#botaoAlterarModo:focus{
    /* Remove o estilo */
    outline-style: none;
    /* Remove a sombra */
    box-shadow: none;
}

/* Botão 'Entrar' */
#botaoEntrar{
    /* Define o fundo */
    background-color: #308FF5;
    /* Muda a cor da fonte */
    color: white;
}

/* Hover no botão 'Entrar' */
#botaoEntrar:hover{
    /* Define o fundo */
    background-color: #1977DC;
}

/* Botão 'Cadastrar' */
#botaoCadastrar{
    /* Define o fundo */
    background-color: #25298C;
    /* Muda a cor da fonte */
    color: white;
}

/* Hover no botão 'Cadastrar' */
#botaoCadastrar:hover{
    /* Define o fundo */
    background-color: #181c75;
}

/* Botão 'Saber mais' */
#botaoSaberMais{
    /* Define o fundo */
    background-color: #308FF5;
    /* Muda a cor da fonte */
    color: white;
}

/* Hover no botão 'Saber mais' */
#botaoSaberMais:hover{
    /* Define o fundo */
    background-color: #1977DC;
}

/* Botão 'História' */
#botaoHistoria{
    /* Define o fundo */
    background: none;
    /* Muda a cor da fonte */
    color: black;
}

/* Hover no botão 'História' */
#botaoHistoria:hover{
    /* Muda a cor da fonte */
    color: #1977DC;
}

/* Focus do hamburguer */
#navbar > button:focus{
    /* Remove o estilo */
    outline-style: none;
    /* Remove a sombra */
    box-shadow: none;
}

/* Altera o nome 'Finanças' ao lado da logo */
.navbar-brand > p{
    /* Muda a cor */
    color: black;
}

/* Hover no nome 'Finanças' */
.navbar-brand > p:hover{
    /* Muda a cor */
    color: #308FF5;
}

/* Altera os links da navbar */
#linksNavbar > ul > li > a{
    /* Muda a cor */
    color: black;
}

/* Hover nos links da navbar */
#linksNavbar > ul > li > a:hover{
    /* Muda a cor */
    color: #308FF5;
}

/* Slogan do site */
#slogan > .row > .col-sm > h1{
    /* Muda a cor */
    color: black;
}

/* Palavra que vai ser digitada no slogan */
#slogan > .row > .col-sm > h1 > span{
    /* Muda a cor */
    color: #25298C;
}

/* Texto explicativo abaixo do slogan */
#sloganContainer > h5{
    /* Muda a cor */
    color: black;
}

/* Imagem ao lado do slogan */
#imagemContainer > img{
    /* Alinha ao centro */
    margin-left: 32px;
    margin-right: 32px;
}

/* Área de funções */
#funcoes{
    /* Define o fundo */
    background-color: #D0DAE0;
}

/* Título de área */
.tituloArea{
    /* Define a cor */
    color: black;
    /* Centraliza o texto */
    text-align: center;
    /* Arruma a separação com os outros elementos */
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;
}

/* Subtítulo de área */
.subtituloArea{
    /* Define a cor */
    color: black;
    /* Centraliza o texto */
    text-align: center;
    /* Limita a área que pode ser escrita */
    padding-left: 10%;
    padding-right: 10%;
    /* Arruma a separação com os outros elementos */
    margin-bottom: 5%;
}

/* Funções da área de funções */
#funcoes > .row > .col-sm{
    /* Alinha todos os elementos ao centro */
    text-align: center;
    /* Define a separação com outros elementos */
    padding: 5%;
    padding-top: 0;
}

/* Título e subtítulo da função */
#funcoes > .row > .col-sm > h3, #funcoes > .row > .col-sm > p{
    /* Define a área máxima que pode ser ocupada */
    padding-left: 10%;
    padding-right: 10%;
    /* Muda a cor da fonte */
    color: black;
}







/* Configurações do 'body' no modo escuro */
.modo-escuro{
    /* Define o fundo */
    background-image: linear-gradient(to right, #25298C, #373BA3);
}

/* Altera o nome 'Finanças' ao lado da logo */
.modo-escuro > nav > .navbar-brand > p{
    /* Muda a cor */
    color: white
}

/* Hover no nome 'Finanças' */
.modo-escuro > nav > .navbar-brand > p:hover{
    /* Muda a cor */
    color: #308FF5;
}

/* Altera os links da navbar */
.modo-escuro > nav > #linksNavbar > ul > li > a{
    /* Muda a cor */
    color: white;
}

/* Hover nos links da navbar */
.modo-escuro > nav > #linksNavbar > ul > li > a:hover{
    /* Muda a cor */
    color: #308FF5;
}

/* Slogan do site */
.modo-escuro > main > #slogan > .row > #sloganContainer > h1{
    /* Muda a cor */
    color: white;
}

/* Palavra que vai ser digitada no slogan */
.modo-escuro > main > #slogan > .row > #sloganContainer > h1 > span{
    /* Muda a cor */
    color: #308FF5;
}

/* Texto explicativo abaixo do slogan */
.modo-escuro > main > #slogan > .row > #sloganContainer > h5{
    /* Muda a cor */
    color: white;
}

/* Botão 'História' */
.modo-escuro > main > #slogan > .row > #sloganContainer > a > #botaoHistoria{
    /* Muda a cor da fonte */
    color: white;
}

/* Hover no botão 'História' */
.modo-escuro > main > #slogan > .row > #sloganContainer > a > #botaoHistoria:hover{
    /* Muda a cor da fonte */
    color: #1977DC;
}

/* Área de funções */
.modo-escuro > #funcoes{
    /* Define o fundo */
    background-color: #25298C;
}

/* Título de área */
.modo-escuro > #funcoes > .tituloArea{
    /* Define a cor */
    color: white;
}

/* Subtítulo de área */
.modo-escuro > #funcoes > .subtituloArea{
    /* Define a cor */
    color: white;
}

/* Título e subtítulo da função */
.modo-escuro > #funcoes > .row > .col-sm > h3, .modo-escuro > #funcoes > .row > .col-sm > p{
    /* Define a área máxima que pode ser ocupada */
    padding-left: 10%;
    padding-right: 10%;
    /* Muda a cor da fonte */
    color: white;
}